@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply font-medium;
    }
}

@layer components {
    .svg {
        @apply w-full h-full;
    }

    .shadowLight {
        @apply shadow-[0px_0px_10px_4px_#faebd7] bg-cream-50/80;
    }
}

@layer utilities {
    .mainBackground {
        background: linear-gradient(
            0deg,
            rgb(214, 197, 126) 0%,
            rgba(189, 147, 84, 1) 33%,
            rgba(158, 117, 64, 1) 66%,
            rgba(133, 96, 63, 1) 100%
        );
    }

    .leafShadow {
        filter: drop-shadow(0px 0px 8px #ec9100);
    }

    .responsiveFontSize {
        font-size: clamp(12px, 2.2vw, 1.5rem);
    }

    .mask-deg {
        mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
        -webkit-mask-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
    }

    .thin-text {
        text-shadow:
            2px 2px #fcdeba,
            -2px -2px #fcdeba,
            -2px 2px #fcdeba,
            2px -2px #fcdeba,
            2px 2px 6px #fcdeba;
    }

    .strong-shadow {
        text-shadow:
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba,
            0px 0px 8px #fcdeba;
    }
}

:root {
    --color-cream-50: #faebd7;
    --color-cream-100: #fcdeba;
    --color-cream-200: #e7c7a5;
    --color-cream-300: #d2b18f;
    --color-cream-400: #bd9a7a;
    --color-cream-500: #a98365;
    --color-cream-600: #946c4f;
    --color-cream-700: #7f563a;
    --color-cream-800: #6a3f24;
    --color-cream-900: #55280f;
}
